{% extends "blog/base.html" %}
{% block title %}My Blog{% endblock %}
{% block content %}
    <div class="d-flex align-items-center">
        <h1>My Blog</h1>
    </div>
    {% for pubpost in posts %}
        <div class="card my-2">
            <div class="card-body">
                <h5 class="card-title">{{ pubpost.title }}</h5>
                <p class="card-subtitle text-muted date">
                    Published {{ pubpost.publish }} by {{ pubpost.author }}
                </p>
                <p class="card-text">{{ pubpost.body|truncatewords:20|linebreaks }}</p>
                <a href="{{ pubpost.get_absolute_url }}">read all</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}